body {
  background-image: -webkit-radial-gradient(50% 50%, circle, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.72)), url('../images/');
  background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.72)), url('../images/');
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
.navigation-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 121px;
  height: 100vh;
  padding-top: 20px;
  background-color: transparent;
}
.brand {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}
.navigation-link {
  width: 100%;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: white;
  text-align: center;
}
.navigation-link:hover {
  color: #00a8e8;
  font-size: 33px;
}
.navigation-link.w--current {
  color: #007ea7;
  font-size: 16px;
}
.navigation-link.w--current:hover {
  color: #00a8e8;
}
.nav-menu {
  position: absolute;
  top: 34%;
  height: 304px;
}
.social-links-bar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 19px;
  padding-left: 21px;
}
.hero-section {
  height: 100vh;
}
.marker-heading {
  margin-top: 10px;
  font-family:'Permanent Marker', sans-serif;
  color: #003459;
  font-size: 140px;
  line-height: 150px;
  font-style: normal;
  font-weight: 900;
}
.hero-div {
  position: relative;
  top: 47%;
  width: 100%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  text-align: center;
}
.hero-heading {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 38px;
  line-height: 44px;
  font-weight: 100;
  text-shadow: black 1px 1px 6px;
}
.hero-button {
  width: 300px;
  height: 80px;
  margin-top: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 4px none #003459;
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.hero-button:hover {
  border-color: #031634;
  background-color: transparent;
}
.section-1 {
  height: 106vh;
}
.section-1.length {
  height: 120vh;
  background-color: #00171f;
}
.white-heading {
  display: block;
  width: 558px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 33px;
  line-height: 55px;
  text-align: left;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.white-heading.center {
  width: auto;
  margin-top: 0px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.white-heading.center.remove-width {
  width: auto;
}
.white-heading.center.remove-width.color {
  color: #00a8e8;
  font-size: 170px;
  line-height: 140px;
}
.white-heading.left {
  float: left;
}
.pink-text {
  color: #e81e48;
}
.pink-text.large {
  position: relative;
  left: -7px;
  color: #003459;
  font-size: 100px;
  line-height: 100px;
}
.pink-text.font-adjustments {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: #00a8e8;
  font-weight: 100;
  text-align: center;
}
.pink-section {
  overflow-x: visible;
  overflow-y: visible;
  height: auto;
  margin-top: 0px;
  padding: 125px 5px;
  background-color: #00171f;
  color: #033649;
}
.center-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 148px;
}
.center-image.adjust {
  opacity: 0.8;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.white-paragraph {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 19px;
  line-height: 27px;
  font-weight: 100;
  text-align: justify;
}
.white-paragraph.left {
  margin-top: 65px;
  color: white;
  font-size: 18px;
  line-height: 29px;
}
.white-paragraph.right {
  position: relative;
  height: 108px;
  margin-bottom: 0px;
  color: white;
  font-size: 23px;
  line-height: 30px;
}
.white-paragraph.up {
  font-family:'Permanent Marker', sans-serif;
  color: #007ea7;
  font-style: italic;
}
.opacity-bar {
  height: 20px;
  margin-top: -20px;
  background-color: rgba(0, 23, 31, 0.75);
}
.loading-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  display: none;
}
.c1 {
  height: 100vh;
  background-color: #00171f;
  background-image: url('../images/mrlogo.left.png');
  background-position: 100% 50%;
  background-size: 115px;
  background-repeat: no-repeat;
}
.c2 {
  height: 100vh;
  background-color: #00171f;
  background-image: url('../images/mrlogo.right2.png');
  background-position: 0px 50%;
  background-size: 115px;
  background-repeat: no-repeat;
}
.creations-div {
  display: block;
  width: 528px;
  margin-right: auto;
  margin-left: auto;
}
.album-image {
  display: none;
  margin-top: 20px;
  margin-bottom: 35px;
  float: left;
}
.quote {
  color: #003459;
  font-size: 95px;
  line-height: 35px;
}
.quote.right {
  float: right;
}
.card-section {
  height: auto;
  min-height: 100vh;
  background-color: white;
}
.section-c1 {
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 98%), url('../images/ambush-hero-b&w.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 98%), url('../images/ambush-hero-b&w.jpeg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 42px 0px;
  opacity: 1;
}
.section-c1._2 {
  height: 50vh;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 98%), url('../images/uncover-valborg-b&w.jpeg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.29) 98%), url('../images/uncover-valborg-b&w.jpeg');
  background-size: auto, cover;
}
.section-c2 {
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 42px 0px;
}
.ribbon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 196px;
  padding-top: 53px;
  padding-bottom: 53px;
  background-image: url('../images/');
  background-position: 50% 50%;
  background-size: 291px 196px;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.black-text {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
  font-family:'Permanent Marker', sans-serif;
  color: #1d1d1d;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}
.right-column {
  position: relative;
  z-index: 141;
  height: 50vh;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #007ea7;
}
.right-column.white {
  height: 50vh;
  padding-top: 16px;
  padding-bottom: 70px;
  background-color: white;
  background-image: url('../images/');
  background-position: 50% 0px;
  background-size: cover;
}
.right-column.gray {
  height: 50vh;
  padding: 70px 40px 0px;
  background-color: #343434;
}
.right-column._2 {
  background-image: url('../images/portfolio-uncover-b&w.png');
  background-position: 0px 0px;
  background-size: cover;
}
.column-div {
  position: relative;
  top: 50%;
  padding-right: 70px;
  padding-left: 70px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.coming-soon {
  margin-top: 0px;
  font-family: Montserrat, sans-serif;
  color: #343434;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
}
.t-shirt {
  height: 221px;
  padding-top: 76px;
  background-image: url('../images/');
  background-position: 50% 50%;
  background-size: 262px;
  background-repeat: no-repeat;
}
.footer {
  height: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #00171f;
}
.footer-text {
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 24px;
  line-height: 35px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-text.small {
  margin: 65px 30%;
  padding-top: 45px;
  padding-bottom: 45px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0px;
  font-size: 14px;
}
.footer-text.title {
  margin-top: 65px;
  font-weight: 400;
}
.social-link {
  margin-left: 12px;
}
.social-links {
  display: inline-block;
  margin-right: 20px;
  margin-left: 27px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
}
.hero-video {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 0px;
}
.body {
  background-color: #00171f;
  background-image: none;
  background-size: cover;
  background-attachment: fixed;
}
.parallaxcont {
  padding-top: 230px;
  padding-bottom: 230px;
}
.parallaxsect {
  background-image: url('../images/');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}
.contactform {
  margin-top: 0px;
  margin-right: 30%;
  margin-left: 30%;
  padding-top: 0px;
  border-top: 1px none white;
}
.formtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 100;
  text-align: center;
}
.formtext {
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  text-align: center;
}
.formtext.message {
  height: 170px;
}
.formbutton {
  display: block;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 30px;
  border: 1px solid white;
  border-radius: 40px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 100;
}
.formbutton:hover {
  background-color: rgba(255, 255, 255, 0.57);
}
.down {
  background-color: transparent;
  opacity: 0.75;
}
.portfoliolink {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}
.portfoliolink:hover {
  background-image: -webkit-linear-gradient(rgba(0, 124, 166, 0.70), rgba(255, 255, 255, 0.34) 96%);
  background-image: linear-gradient(rgba(0, 124, 166, 0.70), rgba(255, 255, 255, 0.34) 96%);
}
.portfoliotext {
  position: absolute;
  left: 0px;
  top: 50%;
  right: 0px;
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 58%;
  padding-bottom: 58%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  font-family: Roboto, sans-serif;
  color: transparent;
  font-weight: 100;
  text-align: center;
}
.portfoliotext:hover {
  display: block;
  overflow-x: visible;
  overflow-y: visible;
  color: black;
}
.portfoliotext._2 {
  position: absolute;
  left: 0px;
  top: 0%;
  right: 0px;
  bottom: 0%;
  height: 100%;
  padding-top: 0%;
  padding-bottom: 0%;
}
.portfoliodiv {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}
.portfoliodiv:hover {
  display: block;
}
.portfoliotexthalv {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 24%;
  padding-bottom: 24%;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  font-family: Roboto, sans-serif;
  color: transparent;
  font-size: 35px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}
.portfoliotexthalv:hover {
  color: black;
}
.projecttitle {
  float: none;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 700;
  text-align: right;
}
.projectsubtitle {
  margin-top: -10px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 100;
  text-align: right;
}
._3section {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('../images/snow-landscape-mountains-nature.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}
._3image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #003459;
}
._3text {
  position: absolute;
  left: 0px;
  top: 45%;
  right: 0px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  font-family: Roboto, sans-serif;
  color: #003459;
  font-weight: 100;
  text-align: center;
}
._3title {
  font-family:'Permanent Marker', sans-serif;
  text-align: center;
}
._3column {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
._3column:hover {
  background-image: -webkit-linear-gradient(rgba(0, 124, 166, 0.70), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 124, 166, 0.70), rgba(255, 255, 255, 0));
}
._3column._2:hover {
  background-image: -webkit-linear-gradient(rgba(0, 52, 89, 0.70), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 52, 89, 0.70), rgba(255, 255, 255, 0));
}
._3column._3:hover {
  background-image: -webkit-linear-gradient(rgba(3, 101, 100, 0.70), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(3, 101, 100, 0.70), rgba(255, 255, 255, 0));
}
._3row {
  height: 500px;
}
.projectcolumn {
  position: relative;
  height: 100%;
  padding-top: 215px;
  padding-bottom: 215px;
  border-radius: 0px;
  background-image: url('../images/jag och uffe.jpg');
  background-position: 50% 0px;
  background-size: cover;
}
html.w-mod-js *[data-ix="left-loading-column"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
html.w-mod-js *[data-ix="right-loading-column"] {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
html.w-mod-js *[data-ix="loading-div"] {
  display: block;
}
html.w-mod-js *[data-ix="ribbon"] {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.8500000000000001);
  -ms-transform: translate(-50%, -50%) scale(0.8500000000000001);
  transform: translate(-50%, -50%) scale(0.8500000000000001);
}
@media (max-width: 991px) {
  body {
    padding-left: 95px;
  }
  .navigation-bar {
    width: 95px;
    background-color: #2f2f2f;
  }
  .brand.w--current {
    padding-left: 10px;
    text-align: left;
  }
  .navigation-link.w--current {
    width: 100%;
  }
  .nav-menu {
    top: 50%;
    float: none;
    background-color: #343434;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
  }
  .social-links-bar {
    padding-left: 20px;
  }
  .marker-heading {
    font-size: 102px;
    line-height: 110px;
  }
  .hero-heading {
    font-size: 30px;
    letter-spacing: 1px;
  }
  .hero-button {
    width: 280px;
    height: 70px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
  }
  .section-1.length {
    padding-right: 33px;
    padding-left: 33px;
  }
  .white-heading.center {
    width: auto;
    margin-bottom: 5px;
  }
  .white-heading.left {
    float: none;
    text-align: center;
  }
  .white-paragraph {
    font-size: 18px;
  }
  .white-paragraph.right {
    height: auto;
    margin-bottom: 15px;
  }
  .album-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .card-section {
    background-color: #343434;
  }
  .section-c1 {
    height: auto;
    min-height: 155vh;
    box-shadow: none;
  }
  .section-c2 {
    box-shadow: none;
  }
  .right-column {
    height: 462px;
  }
  .right-column.gray {
    height: auto;
    padding-top: 113px;
    padding-bottom: 85px;
  }
  .column-div {
    position: static;
    padding-right: 27px;
    padding-left: 27px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .social-links {
    float: none;
  }
  .menu-button {
    position: absolute;
    top: 50%;
    width: 100%;
    float: none;
    background-color: #e81e47;
    -webkit-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    transform: translate(0px, -50%);
    text-align: center;
  }
  .menu-button.w--open {
    background-color: #2f2f2f;
  }
  .hamburger-icon {
    color: white;
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .marker-heading {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 80px;
  }
  .hero-heading {
    font-size: 25px;
  }
  .hero-button {
    width: 260px;
    height: 60px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
  }
  .section-1.length {
    height: 171vh;
  }
  .white-heading {
    width: auto;
    font-size: 22px;
    text-align: center;
  }
  .white-heading.center {
    font-size: 24px;
    line-height: 41px;
  }
  .pink-text.large {
    position: static;
  }
  .pink-section {
    padding-right: 40px;
    padding-left: 40px;
  }
  .white-paragraph {
    text-align: justify;
  }
  .white-paragraph.right {
    text-align: left;
  }
  .creations-div {
    width: auto;
  }
  .card-section {
    margin-bottom: 608px;
  }
  .section-c1 {
    min-height: 100vh;
  }
  .right-column {
    padding-top: 83px;
    padding-bottom: 83px;
  }
  .right-column.white {
    height: auto;
    padding-top: 38px;
    padding-bottom: 38px;
  }
  .right-column.gray {
    padding-top: 49px;
  }
  .t-shirt {
    height: 410px;
    padding-top: 150px;
  }
  .footer {
    position: relative;
    top: 121px;
    z-index: 276;
  }
}
@media (max-width: 479px) {
  body {
    padding-left: 52px;
  }
  .navigation-bar {
    width: 52px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .brand.w--current {
    padding-left: 0px;
  }
  .navigation-link:hover {
    font-size: 14px;
  }
  .social-links-bar {
    padding-left: 14px;
  }
  .marker-heading {
    font-size: 73px;
    line-height: 74px;
  }
  .hero-heading {
    font-size: 17px;
    line-height: 29px;
  }
  .hero-button {
    width: 210px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
  }
  .section-1.length {
    height: 243vh;
  }
  .white-heading {
    line-height: 37px;
  }
  .white-heading.center {
    line-height: 35px;
  }
  .white-heading.center.remove-width.color {
    font-size: 156px;
  }
  .white-heading.left {
    margin-bottom: 2px;
  }
  .pink-text.large {
    font-size: 49px;
  }
  .pink-text.font-adjustments {
    line-height: 29px;
  }
  .white-paragraph {
    text-align: center;
  }
  .white-paragraph.left {
    margin-top: 22px;
  }
  .quote.right {
    position: relative;
    top: 24px;
    float: right;
  }
  .section-c2 {
    margin-bottom: 272px;
  }
  .ribbon {
    width: 241px;
    height: 247px;
    padding-top: 77px;
    padding-bottom: 77px;
    background-size: 241px;
  }
  .right-column {
    height: auto;
    margin-bottom: -4px;
  }
  .right-column.gray {
    margin-bottom: 0px;
    padding-top: 75px;
  }
  .social-link {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .social-links {
    margin-bottom: 10px;
  }
  .menu-button {
    padding-left: 11px;
  }
}

